:root {
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}
html {
    font-family: 'public sans', sans-serif;
}
*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.navbar h1 {
     animation: ani 3s forwards;
     opacity: 0;
     transform: translate(-100px,0);
}
@keyframes ani {
    100% {
          transform: translate(0px,0px);
          opacity: 1;
    }
}
.main-section {
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/desktop/image-hero.jpg);
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 200px;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-contents {
    display: flex;
    gap: 38px;
    margin-top: 12px;
}
.navbar-nav {
    display: flex;
    gap: 38px;
    margin-top: 12px;
}
.list-item .list-link {
    color: var(--White);
    font-size: 15px;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
 .list-link::after{
    content: '';
    height: 3px;
    width:0;
    border: 1px solid #EEEEEE;
    display: block;
    background-color: #EEEEEE;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.3s all ease;
}
.list-item:hover .list-link::after {
    width: 100%;
    opacity: 1;
}
.experience {
    width: 600px;
    border: 3px solid white;
    margin-top: 150px;
}
.experience p{
    font-size: 4.5rem;
    font-weight:normal;
    padding: 10px 35px;
    animation: 3s ani forwards;
    transform: translate(-100px,0px) ;
    opacity: 0;
}

.article-section {
    padding: 100px 200px;
    position: relative;
}
.article-section .article-text {
    max-width: 600px;
    background-color: var(--White);
    position: absolute;
    padding: 50px 70px;
    right: 100px;
    bottom: 70px;
}

.article-text h1 {
    font-size: 50px;
    font-weight: 400;
    text-transform:uppercase;
    line-height: 1.2;
}
.article-text p{
    line-height: 1.5;
    color: var(--Dark-Gray);
    margin-top: 20px;
}
.creation-text {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.creation-text h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.btn-see-all {
    color: white;
    background-color: #000000 !important;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s all ease;
    cursor: pointer;
}
.btn-see-all:hover {
    color: black;
    border: 1px solid black;
    background-color: white !important;
}
.creation-articles {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 50px 200px;
}
.creation-item {
    background: round;
    position: absolute;
    transition: 0.6s all ease;
    height: 60vh;
    width: 100%;
 }
.article-box {
    position: relative;
    overflow: hidden;
    height: 60vh;
    width: 100%;
}
.creation-item:hover {
     transform: scale(1.1);
     transition: 0.6s all ease;
}
.img1 {
    background-image: url(../images/desktop/image-deep-earth.jpg);
}
.img2 {
    background-image: url(../images/desktop/image-night-arcade.jpg);
}
 .img3 {
    background-image: url(../images/desktop/image-soccer-team.jpg);
 }
 .img4 {
    background-image: url(../images/desktop/image-grid.jpg);
 }
 .img5 {
     background-image: url(../images/desktop/image-from-above.jpg);
 }
 .img6 {
     background-image: url(../images/desktop/image-pocket-borealis.jpg);
 }
 .img7 {
     background-image: url(../images/desktop/image-curiosity.jpg);
 }
 .img8 {
     background-image: url(../images/desktop/image-fisheye.jpg);
 }
.image-title{
    font-weight: 400;
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
footer {
    background-color: #000000;
    padding: 50px 200px;
    color: white;
}
.footer-contents {
    display: flex;
    justify-content: space-between;
}
.icons {
    display: flex;
    gap: 17px;
    font-size: 25px;
    justify-content: flex-end;    
}
.footer-contents p {
    opacity: 0.6;
    font-size: 14px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.social-icons {
    gap: 39px;
    display: flex;
    flex-direction: column;
}
.dn-0 {
    display: none;
}
.nav-btn-toggle{
    display: none;
}
.btn-mobile {
 display: flex;
 justify-content: center;
 margin-bottom: 23px;
}
 .btn-transparent {
     background: transparent;
     font-size: 17px;
     padding: 10px 70px;
     letter-spacing: 2px;
     transition: 0.3s all ease;
 }
 .btn-transparent:hover {
     background: black;
     color: white;
 }

@media (max-width:1400px){
    .creation-articles {
        padding: 50px 50px;
    }
    .article-section .article-text {
        right: 10px;
    }
    .creation-text {
        padding: 50px 50px;
    }
}

@media(max-width:950px)
{ 
    .dn-1 {
        display: none;
    }
    .dn-0 {
        display: block;
    }
    .main-section {
        padding: 50px 20px;
        height: auto;
        background-image: url(../images/mobile/image-hero.jpg);
    }
    .creation-articles {
        padding: 50px 20px;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .creation-text{
        justify-content: center;
    }
    .article-section {
        padding: 50px 50px;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .navbar-nav {
       position: fixed;
       flex-direction: column;
       right: 20px;
       left: 20px;
       top: 90px;
       background-color: white;
       padding: 20px 0px;
       opacity: 0;
       pointer-events: none;
       transition: 0.5s all ease;
       z-index: 1;
   }
   .navbar-nav .list-item .list-link {
       color: black;
   }
   .list-item:hover .list-link::after {
       width: 50px;
       background-color: black !important;
   }
   .nav-btn-toggle {
       display: flex;
       flex-direction: column;
       background: none;
       border: none;
       cursor: pointer;
       gap: 5px;
   }
   .nav-btn-toggle span {
    height: 1px;
    width: 25px;
    background-color: white;
    display: block;
    transition: 0.5s all ease;
}
.article-section .article-text {
    position: static;
    padding: 50px 20px;
    max-width: 100%;
}
footer {
    padding: 50px 0;
}
.footer-contents {
    flex-direction: column;
    align-items: center;
}
  .nav-contents {
      flex-direction: column;
  }  
  .icons {
      justify-content: center;
  }
   .social-icons {
         margin-top: 50px;
         gap: 15px;
   }
   .experience {
    width: 100%;
    border: 3px solid white;
    margin-top: 150px;
}
.experience p{
    font-size: 3rem;
    font-weight:normal;
    padding: 10px 40px;
}
.img-mobile-interective {
    max-width: 100%;
}
.img1 {
    background-image: url(../images/mobile/image-deep-earth.jpg) !important;
}
.img2 {
    background-image: url(../images/mobile/image-night-arcade.jpg) !important;
}
 .img3 {
    background-image: url(../images/mobile/image-soccer-team.jpg) !important;
 }
 .img4 {
    background-image: url(../images/mobile/image-grid.jpg) !important;
 }
 .img5 {
     background-image: url(../images/mobile/image-from-above.jpg) !important;
 }
 .img6 {
     background-image: url(../images/mobile/image-pocket-borealis.jpg) !important;
 }
 .img7 {
     background-image: url(../images/mobile/image-curiosity.jpg) !important;
 }
 .img8 {
     background-image: url(../images/mobile/image-fisheye.jpg) !important;
 }
 .article-box
 {
    height: 30vh ;
    position: relative;
 }
 .article-text {
     padding: 50px 0px;
     width: 500px;
 }
 .article-text h1  {
     font-size: 35px;
 }
.creation-item {
    background: round;
    padding: 30px;
}
.image-title {
    position: static;
}
.creation-text {
    padding: 50px 0px;
}

}




